#facebox {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
  text-align: left;
  width: 900px;
}

#facebox .popup{
  position:relative;
  border:2px solid rgba(0,0,0,0);
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:0 0 25px rgba(0,0,0,0.4);
  -moz-box-shadow:0 0 25px rgba(0,0,0,0.4);
  box-shadow:0 0 25px rgba(0,0,0,0.4);
  left:0px;
  top:50px;
  background-color: #638EC1;
}

#facebox .content {
  display: table;
  width: 100%;
  padding: 0px;
  background:#FFFFFF;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  height:600px;
}


#facebox .content > p:first-child{
  margin-top:0;
}

#facebox .content > p:last-child{
  margin-bottom:0;
}

#facebox .close{
display:block;
  position:absolute;
  margin-top:8px;
  margin-left:95%;
  padding:0px;
   background-color: transparent;
  width:5px;
}

#facebox .close img{
  opacity:0.3;
}

#facebox .close:hover img{
  opacity:1.0;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: transparent;
  z-index: 99;
}
